html{
    scroll-behavior: smooth;
}
.hr-style{
    background-color: white;
    border: 5px dotted black;
    border-bottom: none;
    width: 50px;
    margin: 0 auto;
    
    
}
.section-title h3{
    font-weight: bolder;
    margin: 30px
}
#about-me{
    padding: 2% 10%;
    background-color: #e8d1d2;
    margin: 10px 0;
}

/* header start */

.navbar{
   padding: 1% 10%; 
   background-color: rgba(0, 0, 0, 0.39);
}
.navber-icon{
    color: #fff;
}
.nav-link{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    transition: 0.4s;
}
.nav-link:hover{
    color: #000;
    background-color: #E0E7EA;
    transform: scale(1.1);
}


header{
    background-image: url(img/Banner.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    height: 80vh;
    
}
.banner-container h1{
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 3.5rem;
    background-color: rgba(255, 127, 80, 0.52);
}
/* header ends */

/* main fishing start hear */
#fishing{
    padding: 5% 10%;
    background-color: #f8cba7;
    margin: 10px 0;
}
.fishing-col{
    border: 1px solid #ff02c0;
    border-radius: 1rem;
    padding: 15px;
    margin: 20px 0px;
    transition: 0.4s;
}
.fishing-col:hover{
 transform: scale(1.1);
 box-shadow: 2px 6px 5px black;
}
.icon-style{
    background-color: #bb0aac;
    padding: 15px;
    color: #fff;
    margin: 5px 0px;
    
}
/* main fishing start hear */
/* tutoreal start hear */
#tutorail{
    background-color: #f8cba7;
    margin: 10px 0;
}
.card{

    border-radius: 1rem;
    transition: 0.4s;
}
.card:hover{
    box-shadow: 5px 5px 10px black;
    transform: scale(1.1);
}
.card img{
    border-radius: 1rem 1rem 0rem 0rem;
}
/* tutoreal ends hear */

/* feedback start hear */
#feedback{
    background-color: #32aaaa;

}
.feedback-img{
    width: 20%;
    height: auto;
}
.carousel-item {
    padding: 7% 15%;
    font-style: italic;
}
/* feedback ends hear */

/* contact me saction start */
#contact{
    padding: 2% 10%;
    background-color: #aeedf3;
}
.form-group label{
    margin-bottom: 0;
    font-weight: bolder;
}
/* contact me saction ends */

/* footer area start */
footer{
    padding: 1% 10%;
    background-color: #1a116d;
    color: #fff;
    font-size: 20px;
    
}
footer a{
    color: #fff;
    margin: 0 10px;
}
footer a:hover{
    color: red;
}
/* footer area ends *
